version: "3.8"

services:
  # PostgreSQL database service
  psql_db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}       # Database name from .env
      POSTGRES_USER: ${POSTGRES_USER}   # DB username from .env
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} # DB password from .env
    ports:
      - "5432:5432"                     # Expose DB port to host
    volumes:
      - postgres-data:/var/lib/postgresql/data  # Persist DB data

  # Tomcat web server service
  tomcat:
    build: .                            # Build from current directory
    image: jakarta-submit
    container_name: tomcat
    restart: always
    ports:
      - "8080:8080"                     # Expose Tomcat port
    depends_on:
      - psql_db                          # Start DB before Tomcat

# Docker volume for persisting database
volumes:
  postgres-data: