# in development
# db.url=jdbc:postgresql://localhost:5432/jakarta_submission_db
# db.user=your_username
# db.password=your_password

# in production (docker)
db.url=jdbc:postgresql://psql_db:5432/jakarta_submission_db?useSSL=false&allowPublicKeyRetrieval=true
db.user=your_username
db.password=your_password