<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>register.html</welcome-file>
        <welcome-file>login.html</welcome-file>
        <welcome-file>reg-welcome.jsp</welcome-file>
        <welcome-file>log-welcome.jsp</welcome-file>
    </welcome-file-list>

    <!-- User Servlet Configuration -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>home.jakartasubmit.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

<!--    &lt;!&ndash; Task Servlet Configuration &ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>TaskServlet</servlet-name>-->
<!--        <servlet-class>home.jakartasubmit.TaskServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>TaskServlet</servlet-name>-->
<!--        <url-pattern>/task/*</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    &lt;!&ndash; Submission Servlet Configuration &ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>SubmissionServlet</servlet-name>-->
<!--        <servlet-class>home.jakartasubmit.SubmissionServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>SubmissionServlet</servlet-name>-->
<!--        <url-pattern>/submission/*</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>